				<div class="container">
					<p><span class="deco">W</span>HETHER you’re touting a store special, promoting an event, offering banjo lessons or just want to congratulate your Little League team, <strong>white box</strong> is the answer.

					<p>A <strong>white box</strong> ad posted on <strong>redbankgreen</strong> delivers your product or service message 
					directly to the absolute sweet spot of the Red Bank-area market.</p>

					<p>Designed for impact, a <strong>white box</strong> ad on <strong>redbankgreen</strong>’s home page gets noticed. 
					With <strong>white box</strong>, there's no complicated set-up. No hair-pulling decisions about 
					which font or color to use. And there's also no long-term commitment. You pay by 
					the day. Period. Plain and simple as a <strong>white box</strong>.</p>

					<p class="alignCenter"><a href="/orders/new" class="btn">CLICK TO GET STARTED</a></p>
				</div>

				<div class="featured-ads">
					<div class="subhead">
						<hr class="bdr-dotted top" />
						<h2><span class="icon-arrow"></span><strong>white box</strong> ads appearing today on <strong>redbankgreen</strong><span class="icon-arrow"></span></h2>
						<hr class="bdr-dotted btm" />
					</div>
					<div class="container ads-container clearfix">
						<div class="col colwide floatLeft">
							<!-- ads here -->
							<%= image_tag "static_ad1.gif" %>

							<%= image_tag "static_ad2.gif" %>
						</div>
						<div class="col colmed floatRight">
							<!-- ads here -->
							<%= image_tag "static_ad3.gif" %>
						</div>
					</div>
				</div>